<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Erowid</title>
	<link rel="stylesheet" href="/main.css">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" href="/touch-icon.png" />

	<link rel="shortcut icon" href="/browser-icon.png" />

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      // hide url bar on iOS browser
      setTimeout(function() { window.scrollTo(0, 0); }, 0);

      $('#searchform').submit(function() {
        q = $.trim($('#query').val().toLowerCase());
        if (q == 'mdma') {
          window.location = '/psychoactives/mdma';
        }
        else {
          window.location = 'https://www.google.com/#q=site:erowid.org+' + encodeURIComponent(q);
        }
        return false;
      });
    });
  </script>
</head>

<body id="home">
<div id="homecontainer">

<div class="header">
  <div class="title">
    <img src="/erowid-logo.png" />
    <div>
      <h2>The Vaults of</h2>
      <h1>Erowid</h1>
    </div>
    <hr/>
  </div>
  <div class="description">
    <p>Erowid provides factual information on psychoactive drugs to medical professionals, academics, and recreational users.</p>
    <p><a href="/about">Learn more &#8250;</a></p>
  </div>
</div>

<div class="search">
  <h4>Search for a psychoactive:</h4>
  <form action="#" id="searchform">
  <input type="text" name="q" id="query" />
  </form>
</div>

<div class="browse">
  <h4>Or browse popular psycoactives:</h4>
  <ul>
    <% ErowidScraper.common_psychoactives.each do |slug, psychoactive| %>
      <li><a href="/psychoactives/<%= slug %>"><%= psychoactive.name %></a></li>
    <% end %>
  </ul>
</div>

<div class="footer">
  <a href="http://www.erowid.org/">view non-mobile site</a>
</div>

</div>
</body>
</html>
